@page
@using MeetingPlanner.Others.Localization
@model LoginModel
@inject LocalizationService Translator

@{
    ViewData["Title"] = @Translator.GetTranslation("login");
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>@Translator.GetTranslation("loginInfo")</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>@Translator.GetTranslation("email")</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Translator.GetTranslation("password")</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Input.RememberMe" />
                            @Translator.GetTranslation("rememberMe")
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="mat-button">@Translator.GetTranslation("loginButton")</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@Translator.GetTranslation("registerNewUser")</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
